:root {
    --Themepurple: #3A1363;
    --OutLineBorderColor: #4042E2;
    --Themegreen: #0FB8AE;
    --Themefont: "Montserrat", sans-serif;
    --Commonpadding: 80px 0px;
    --Font14px: clamp(12px, 0.729vw, 16px);
    --Font16px: clamp(12px, 0.833vw, 18px);
    --Font18px: clamp(14px, 0.938vw, 20px);
    --Font20px: clamp(14px, 1.042vw, 22px);
    --Font22px: clamp(16px, 1.146vw, 24px);
    --Font24px: clamp(16px, 1.25vw, 28px);
    --Font26px: clamp(14px, 1.4vw, 53px);
    --Font28px: clamp(18px, 1.46vw, 56px);
    --Font38px: clamp(14px, 1.98vw, 76px);
    --Font40px: clamp(20px, 2.083vw, 42px);
    --Font48px: clamp(20px, 2.5vw, 52px);
    --Font56px: clamp(24px, 2.917vw, 60px);
}

.choose-card-box .card {
    border: 2px solid var(--Themepurple);
    border-radius: 40px;
    padding: 3rem 2rem;
}

.choose-what-best h2 {
    text-align: center;
}

.choose-card-box {
    margin: 50px 0px;
}

.disclaimer p {
    font-weight: 500;
    font-size: var(--Font14px);
    line-height: 1.5;
    color: #00000070;
}

.choose-card-box .card .card-title {
    font-weight: 600;
    font-size: var(--Font20px);
    line-height: 1.5;
    color: #000000;
    opacity: 0.7;
}

.choose-card-box .card .card-text {
    font-weight: 400;
    font-size: var(--Font18px);
    line-height: 1.3;
    color: #000000;
    opacity: 0.7;
}

.choose-card-box .card img {
    width: 80%;
}

.cta .btn {
    border: 1px solid var(--OutLineBorderColor);
    border-radius: 28px;
    font-weight: 500;
    font-size: var(--Font16px);
    line-height: 1.5;
    width: 90%;
    padding: 10px 0px;
}

.choose-card-box .cta {
    margin-top: 30px;
}

.choose-what-best {
    padding-top: 70px;
    padding-bottom: 70px;
}

.hire-now-banner {
    position: relative;
}

.hire-now-banner .section-bg-image {
    z-index: -1;
}

.hire-now-banner .section-bg-image img {
    height: 100%;
    width: 100%;
    object-fit: unset;
    border-radius: 0;
}

.back-btn .btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 0;
    margin: 0;
    box-shadow: none !important;
    outline: 0;
    background: none !important;
}

.back-btn .btn img {
    width: 25px !important;
}

.homestep-box h2 {
    text-align: center;
    padding: 9px 0px;
}

.hiring-list ul li a {
    display: flex;
    align-items: center;
    border: 2px solid #40256654;
    gap: 16px;
    padding: 12px 25px;
    border-radius: 15px;
    text-decoration: none;
    color: black;
}

.hiring-list ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hiring-list {
    margin: 54px 0px 80px;
}

.homestep-box,
.login-step-box,
.facility-step-box {
    padding: 20px 0px 56px;
}

.gender-card-box ul {
    flex-direction: row;
    flex-wrap: wrap;
}

.gender-card-box ul li {
    flex: 1;
}

h4 {
    font-weight: 700;
    font-size: var(--Font18px);
    line-height: 1.5;
    margin-bottom: 1rem;
}

.language-card-box ul li a {
    display: flex;
    align-items: center;
    border: 2px solid #40256654;
    gap: 16px;
    padding: 30px 25px;
    border-radius: 15px;
    text-decoration: none;
    color: black;
    text-align: center;
    justify-content: center;
}

.language-card-box ul {
    display: flex;
    gap: 1rem;
    width: 70%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.hiring-list.gender-card-box {
    margin: 54px 0px 60px;
}

.language-card-box ul li {
    flex: 1 0 45%;
}

.gender-card-box ul li img {
    height: 45px;
}


.select-language .get-in-touch-input-col {
    width: 100%;
}

.select-language .get-in-touch-section {
    padding: 1rem 0px;
    margin-bottom: 0px;
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 46px;
}

.step-next-btn .btn {
    border: 1px solid #4042E2;
    background: linear-gradient(90deg, #422669 0%, #7E49C9 100%);
    color: white;
    font-weight: 500;
    font-size: var(--Font26px);
    line-height: 1.5;
    text-align: center;
    width: 100%;
    border-radius: 34px;
    padding: 12px;
}

.loader-heading-box h2 span {
    font-weight: 500;
    font-size: var(--Font38px);
    line-height: 1.5;
}

.loader-heading-box h2 {
    line-height: 1.5;
    text-align: left;
    padding: 0;
}

.loader-heading-box p {
    font-weight: 500;
    font-size: var(--Font20px);
    line-height: 1.5;
    color: #00000070;
}

.loader-heading-box {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.loader-box {
    width: 85%;
    margin: auto;
}

.loader-content-card-box {
    display: block;
    margin: 50px 0px;

}

.loader-content-card-box h5 {
    font-weight: 600;
    font-size: var(--Font16px);
    line-height: 1.5;
    vertical-align: middle;
    color: var(--Themepurple);
}

.loader-content-card-box ul li .subtitle {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: #000000B2;
}

.loader-content-card-box ul li {
    display: flex;
    align-items: center;
    gap: 8px;
}

.loader-content-card-body ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.caregiver-icon {
    position: absolute;
    top: -16px;
    left: -22px;
}

.loader-content-card-box .card {
    box-shadow: 0px 4px 20px 5px #0000001A;
    border: 0;
    border-radius: 20px;
    padding: 20px 0px;
}

.loader-content-card-box {
    margin-left: 20px;
}

.caregiver-icon img {
    width: 90%;
}

.caregiver-icon:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background: #02D75C;
    border-radius: 50%;
    bottom: 0px;
    right: 4px;
}

.starfeedback {
    position: absolute;
    top: 1rem;
    right: 16px;
}

.strip-loader {
    margin-top: 100px;
    margin-bottom: 50px;
}

.form-alert-msg {
    display: flex;
    align-items: center;
    gap: 10px;
}

.loginform {
    width: 50%;
    margin: auto;
}

.form-alert-msg {
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    padding: 13px 37px;
    border: 1px solid var(--Themepurple);
    border-radius: 15px;
    font-size: 11px;
    color: black;
    font-weight: 400;
    margin-bottom: 1.6rem;
    opacity: 1;
    font-weight: 500;
}

.form-alert-msg b {
    font-weight: 600;
    color: var(--Themepurple);
    font-size: 12px;
}

.same-heading p {
    font-weight: 500;
    font-size: var(--Font20px);
    line-height: 1.5;
    color: #00000070;
}

.same-heading h2 {
    line-height: 1.5;
    margin-bottom: 1rem;
}

.login-form {
    margin-top: 2rem;
}

.form-box-input .form-control {
    border: 1px solid #E8E6EA;
    border-radius: 16px;
    padding: 1.2rem 2rem;
    box-shadow: none !important;
    outline: 0;
    font-weight: 500;
    font-size: var(--Font20px);
    line-height: 1.5;
    color: black;
}

.form-box-input {
    margin-bottom: 1.5rem;
}

.form-box-input .form-control::placeholder {
    color: black;
}

.login-box-btns ul li a span {

    color: #000000;
    opacity: 0.7;
}

.login-box-btns ul li a {
    padding: 17px 25px;
    border-radius: 40px;
    font-weight: 600;
    font-size: var(--Font20px);
    line-height: 1.5;
    opacity: 1;
    justify-content: center;
    display: flex;
    align-items: center;
    border: 2px solid #40256654;
    gap: 16px;
    text-decoration: none;
}

.login-box-btns ul {
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.login-special-condition ul li a {
    padding: 12px 35px;
    border-radius: 15px;
}

.login-box-btns ul li {
    flex: 1 0 30%;
}

.login-special-condition .login-flex {
    display: flex;
    justify-content: space-between;
}

.login-special-condition ul li a img {
    height: 45px;
}

.drug-test-box ul li {
    flex: unset;
}

.drug-test-box ul li a {
    border-radius: 15px;
}

.form-step-btn {
    width: 60%;
    margin: 40px auto 0px;
}

.driver-license ul li {
    flex: 0 1 20%;
}

.driver-license ul li a {
    border-radius: 15px;
    padding: 17px 25px;
}

.covid-19-preference ul li {
    flex: auto;
}

.pay-per-hour p {
    font-weight: 500;
    font-size: var(--Font20px);
    line-height: 1.5;
    text-align: center;
    color: #00000070;
    margin-top: 20px;
}

.pay-per-hour p span {
    font-weight: 500;
    font-size: var(--Font26px);
    line-height: 1.5;
    text-align: center;
    color: var(--Themepurple);
}

.double-range-slider {
    margin: 2.5rem 0px;
    padding: 0.6rem 0px;
}

.which-day ul {
    display: flex;
    align-items: center;
    gap: 14px;
}

.which-day ul li a {
    border: 1px solid #E8E6EA;
    text-decoration: none;
    color: black;
    display: block;
    border-radius: 1rem;
    font-weight: 500;
    font-size: var(--Font24px);
    line-height: 1.5;
}

.daysname ul li a {
    padding: 1rem 1rem;
}

.daytime ul li a {
    padding: 1rem;
}

.daytime {
    margin: 1rem 0px 2.5rem;
}

.daytime ul li {
    flex: 1;
    text-align: center;
}

.monthlytime select {
    background-color: #D9D9D9;
    border-radius: 8px;
    padding: 1rem 21px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 50%;
    border: 0;
    border-bottom: 2px solid #0369D7;
    font-weight: 500;
    font-size: var(--Font16px);
    line-height: 1.5;
    width: 250px;
}

.which-day ul li {
    flex: 1;
    text-align: center;
}

.daysname ul {
    width: 90%;
}

.which-day-box {
    margin-top: 2rem;
    margin-bottom: 2.5rem;
}

.datetime {
    border: 1px solid #E8E6EA;
    border-radius: 16px;
    padding: 1.2rem 1.2rem;
    box-shadow: none !important;
    outline: 0;
    font-weight: 500;
    font-size: var(--Font20px);
    line-height: 1.5;
    color: black;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.datetime img {
    width: 35px;
}

.datetime-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.datetime-box .hours {
    display: flex;
    align-items: center;
    gap: 25px;
}

.datetime-box .hours img {
    width: auto;
}

.date-duration-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 3rem 0px;
}

.starttime {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.am-pm button img {
    width: auto;
}

.login-requiremnt-box ul li {
    flex: unset;
}

.login-requiremnt-box ul li a img {
    width: 60px;
}

.login-requiremnt-box ul li a {
    border-radius: 15px;
    padding: 12px 30px;
}

.tab-text {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 9px 1rem;
    border: 1px solid #402566;
    border-radius: 50px;
}

.tab-text span {
    font-weight: 400;
    font-size: var(--Font14px);
    line-height: 1.5;
    color: #402566;
}

.tab-btn {
    cursor: pointer;
}

.skills-and-qualifications .form-box-input {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.skills-and-qualifications .form-box-input .form-control {
    flex: 0 0 50%;
    margin-right: 4px;
    padding: 1.2rem 1.5rem;
}

.priority-box .form-box-input .form-control {
    padding: 1.2rem 1.5rem;
}

.priority-box {
    margin: 20px 0px;
    width: 50%;
}

.rating-icon .fa-star {
    font-size: 50px;
    color: #D9D9D9;
}

.rating-icon .fa-star:nth-child(1) {
    color: #F1AE1D;
}

.skip-btn a {
    font-weight: 500;
    font-size: var(--Font20px);
    line-height: 1.5;
    text-decoration: underline;
}

.choose-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.choose-heading h3 {
    font-weight: 600;
    font-size: var(--Font40px);
    line-height: 1.5;
}

.plans-list .card {
    border: 0;
    background: transparent;
}

.plans-list .card .card-header {
    border: 0;
}

.plans-list .card .card-footer,
.plans-list .card .card-body {
    border: 0;
    padding: 0;
}

.plans-card {
    background: linear-gradient(139.27deg, #402566 1.94%, #804ACC 100.95%);
    border-radius: 24px;
    color: white;
    padding: 1.6rem;
}

.plans-list .card .card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 37px;
    padding: 1.5rem 1rem;
}

.plans-time h3 {
    font-size: 65px;
    font-weight: 600;
}

.plans-time {
    text-align: center;
}

.plans-time span {
    font-size: var(--Font16px);
    font-weight: 600;
    text-transform: uppercase;
}

.billing-option {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px 1rem;
    background-color: #D9D9D933;
    box-shadow: 0px 4px 4px 0px #0000001A;
    border-radius: 40px;
    color: #000000;
}

.dollor-price {
    font-size: var(--Font26px);
    font-weight: 700;
    color: #000000;
}

.sub-dollor-price {
    font-weight: 400;
    font-size: var(--Font16px);
    line-height: 1.5;
    color: #000000;
}

.plans-price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
}

.billing-option span {
    font-weight: 500;
    font-size: var(--Font16px);
    line-height: 1.5;
    text-transform: uppercase;
}

.plans-card .card-title {
    font-weight: 600;
    font-size: var(--Font24px);
    line-height: 1.5;
    margin-bottom: 1rem;
}

.plans-card .card-text {
    font-weight: 400;
    font-size: var(--Font16px);
    line-height: 1.5;
}

.plans-card .card-text ul {
    padding: 1rem 0px 2rem;
}

.plans-card .card-text ul li {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    line-height: 1.7;
}

.plans-card .card-text ul li img {
    width: 20px;
}

.buy-now-btn .step-next-btn .btn {
    border: 0;
    background: white;
    color: black;
    font-weight: 500;
    font-size: var(--Font24px);
    text-transform: uppercase;
}

.buy-now-btn .step-next-btn .btn:hover {
    color: white;
    background: linear-gradient(90deg, #402566 0%, #804ACC 100%);
}

.plans-list {
    width: 85%;
    margin: 1rem auto;
}

.choose-plan {
    box-shadow: 0px 0px 20px 10px #0000001A;
    border-radius: 40px;
    padding: 2rem 3rem;
    position: relative;
    background: white;
}

.choose-access {
    margin-top: 30px;
}

/* facility css ================================ */

.facility-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.facility-caregiver .form-box-input .form-control {
    padding: 1.2rem 1.2rem;
}

.facility-caregiver {
    flex: 1;
}

.facility-step-box .login-box-btns ul {
    gap: 10px;
    justify-content: center;
}

.facility-step-box .login-box-btns ul li {
    flex: 0 0 30%;
}

.facility-step-box .facility-drug-test-box ul {
    justify-content: flex-start;
}

.facility-step-box .facility-drug-test-box ul li a {
    border-radius: 15px;
    padding: 20px 25px;
}

.facility-step-box .facility-drug-test-box ul li {
    flex: unset;
}

.facility-step-box .hiring-model ul li {
    flex: 1;
}

.facilityform .login-form {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    align-items: center;
    justify-content: space-between;
}

.facilityform .login-form .form-box-input {
    flex: 0 0 49%;
}

.facilityform {
    width: 80%;
    margin: 20px auto;
}

.facility-form-box-btn {
    width: 50%;
    margin: auto;
}

.facility-step-box .facility-caregiver-kind ul li {
    flex: unset;
}

.facility-step-box .facility-hiring-urgency ul {
    justify-content: flex-start;
}

.facility-step-box .facility-hiring-urgency ul li {
    flex: unset;
}

.facility-caregiver-certification {
    flex-basis: 60%;
}

.facility-form-step-btn {
    width: 60%;
    margin: 60px auto 20px;
}

.facility-compliance-screen .form-box-input {
    margin-top: 1rem;
    width: 60%;
}

.payment-billing-subheading {

    font-weight: 700;
    font-size: var(--Font18px);
    line-height: 1.5;
    margin-bottom: 1rem;
}

.h4font28 {
    font-weight: 700;
    font-size: var(--Font28px);
    line-height: 1.5;
}

.facility-step-box .special-requirements ul {
    justify-content: flex-start;
}

.facility-step-box .special-requirements ul li {
    flex: unset;
}

.facility-step-box .special-requirements ul li a {
    padding: 17px 50px;
}

.facility-upload {
    max-width: 500px;
}

.custom-file-upload {
    position: relative;
    border: 1px solid #E8E6EA;
    border-radius: 16px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    font-weight: 500;
    font-size: var(--Font20px);
    line-height: 1.5;

}

.custom-file-upload input[type="file"] {
    display: none;
}

.custom-file-upload .file-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 70%;
    font-weight: 500;
    font-size: var(--Font20px);
    line-height: 1.5;
    color: #000000;

}

.custom-file-upload label {
    background-color: #5c3dfc;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 400;
    font-size: var(--Font14px);
    line-height: 1.5;
    transition: background-color 0.3s ease;
}

.custom-file-upload label:hover {
    background-color: #4727d2;
}

.caregiverscreentwo .datetime {
    padding: 15px 20px;
}

.caregiverscreentwo .custom-file-upload {
    padding: 1rem 2rem;
}

.facilityform .login-form .form-box-input label:nth-child(1) {
    font-weight: 700;
    font-size: var(--Font18px);
    line-height: 1.5;
    margin-bottom: 12px;
}

.get-in-touch-section .get-in-touch-input-col select {
    height: 60px;
}

.caregiverloginform .datetime img {
    width: 28px;
}
.caregiverloginform .datetime {
    padding: 1rem 1.2rem; 
}
.preferred-working ul li {
    flex: unset;
}
.preferred-working ul li a{
    padding: 17px 34px;
}
.shift-availablity ul  {
    justify-content: center;
    align-items: center;
}
.shift-availablity ul li {
    flex: unset;
    flex-basis: 24%;
}
.shift-availablity ul li a {
    padding: 17px 3px;
}
.caregiver-special-condition ul li {
    flex: unset;
}
/* facility css ================================ */